// @import '~bootstrap/scss/bootstrap';
@import 'bootstrap/scss/bootstrap';

// @import '~awesome-notifications/src/styles/style.scss';
@import 'awesome-notifications/src/styles/style.scss';

[data-bs-theme='dark'] {
  --bs-body-bg-rg: rgb(33, 37, 41);
  nav .navbar {
    background-color: rgb(var(--bs-body-bg-rgb));
  }

  .card .card-title {
    color: rgb(201, 209, 217);
  }

  table.table tr th {
    color: rgb(201, 209, 217);
  }
  // --bs-card-title-color: white !important;
  // --bs-card-title-color: rgb(0, 0, 0);
}

.content {
  background-color: var(--bs-dark-bg-subtle);
}

html {
  overflow: hidden;
  width: 100%;
  // background-color: rgb(13, 17, 23) !important;
}
body {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

// Scrollbars
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

// Others
table button.btn {
  padding: 0 0.5rem;
}
